.home {
  display: flex;
  padding-left: 320px;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 30px 60px 0;
  background-color: #121212;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
}
