.header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.header > svg {
  cursor: pointer;
  color: #a7a7a7;
  transition: color 0.3s;
}

.header > svg:hover {
  color: #fff;
}
