.sidebar {
  width: 320px;
  height: 100vh;
  position: fixed;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar > .logo {
  width: 100px;
  height: 100px;
}
