@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  color: #ffffff;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
}
