@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  color: #ffffff;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #373c49;
}
